{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Ayamji {% endblock %} . AyamJi</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://unpkg.com/lucide@latest"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

</head>
<body class="bg-slate-100 text-slate-800">

    {% block body %}{% endblock %}

    <script>lucide.createIcons();</script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>